.site-header{
  padding : 0px;
  margin : 0px;
}
.top-bar{
  width : 100%;
  padding : 0px;
  margin : 0px;
  position : relative;
  background-color: $white;
  .site-logo-link{
    display : inline-block;
    float : left ;
    padding: 10px;
    max-height: 70px;
  }
  .search-container{
    //@extend .fa;
    display : none;
    @include at-breakpoint($mediumplus){
      display: block;
    }
    padding : 15px 10px;
    float : left;
    input,select{
      padding : 6px;
      margin : 0px;

    }
    select.search-city{
      border : 1px solid darken($grey2,15%);
      @include border-right-radius(10px);
      margin-left : -5px;
      padding : 5px;
    }
    input.search-text{
      border : 1px solid darken($grey2,15%);
      @include border-left-radius(10px);
      @include border-right-radius(0px);
    }
    input.searchbutton{
      background: none;
      border : 0px;
      outline : none;

    }
  }
  .plus-icon-wrapper{
    position : absolute;
    padding : 10px;
    top : 0px ;
   right : 38%;
    @include at-breakpoint($xmedium){
      right : 50%;
    }
    @include at-breakpoint($medium){
      right : 46%;
    }
    a.plus-icon{
      @extend .gol-box-shadow;
      @extend .def-transition;
      cursor: pointer;
      @include border-radius(50%);
      display: inline-block;
      padding : 10px 15px;
      background-color: $gol;
      position : relative;
      &:hover,&:focus{
        @include box-shadow(0px 0px 2px $grey3);
      }
      &:hover > span.plus-icon-title {
        opacity: 0.9;
        top: 60px;
      }
      i.fa-plus{
        &::before{
          font-size : 200%;
          color : $white;
          vertical-align: middle;
        }
      }
      span.plus-icon-title{
        @extend .bottom-tooltip;
        left : 76%;
        background-color: $gol;
        color : $white;
        @extend .gol-box-shadow;
      }
    }
  }
  .menu-toggler{
    @extend .def-transition;
    float : right;
    cursor: pointer;
    display: inline-block;
    padding : 7px 11px 0px;
    border : 1px dashed $grey3;
    margin-top : 14px;
    margin-right : 10px;
    @include at-breakpoint($medium){
      display : none;
    }
    i.fa-bars:before{
      @extend .def-transition;
      font-size : 180%;
      color : $grey3;
    }
    &:hover{
      border-color : $gol;
      i.fa-bars:before{
        color : $gol;

      }
    }

  }
  .panel-links{
    display : none;
    @include at-breakpoint($medium){
      display: block;
    }
    float : right;
    padding-top : 15px;
    .register-button,.login-button{
      @extend .fa;
      @extend .def-transition;
      padding : 10px 7px;
      color : $black1;
      font-weight: 500;
      font-size: 90%;
      &:hover{
        color : $gol;
      }
    }
    .login-button{
      &::before{
        content : "\f090";
        padding-left : 5px;
        vertical-align: middle;
        font-size: 130%;
        font-weight: 100;
      }
    }
    .register-button{
      &::before{
        content : "\f040";
        padding-left : 5px;
        vertical-align: middle;
        font-size: 130%;
        font-weight: 100;

      }
    }
  }
  .cart-wrapper{
    display : none;
    float : right;
    @include at-breakpoint($medium){
      display: block;
    }
    float : right;
    margin : 23px 10px 10px;
    position : relative;

    i.fa::before{
      cursor: pointer;
      font-size: 150%;
      vertical-align: middle;
      color : $blue;
      padding : 5px;

      @include border-radius(50%);
    }
    span.orders-qty{
      cursor: pointer;
      position : absolute;
      top : -6px;
      right : -6px;
      color : $white;
      background-color: $gol;
      @include border-radius(50%);
      padding : 5px 8px;
      font-size: 80%;
      line-height: 1;
      height : 22px;
    }
    .cart-content{
      @extend .bottom-tooltip;
      @extend .dark-box-shadow;
      text-align : right;
      z-index : 99999;
      width : 250px;
      left : auto;
      right : -50%;
      top : 50px;
      pointer-events:none ;
      background-color: $white;
      border-color : $grey2;
      &::before, &::after {
        top: -15px;
        left: auto;
        right : 8%;
      }
      ul{
        margin : 0px;
        padding : 0px;
        li{
          padding : 10px;
          border-bottom : 1px dashed $grey2;
          img.item-thumb{
            float : right;
            max-width: 32px;
            max-height : 32px;
            margin-top: -6px;
            margin-left: 10px;
          }
          span.item-title{
            float : right;
          }
          span.order-qty{
            float : left;
          }
        }
      }
    }
    &:hover>.cart-content{
      top : 38px;
      opacity : 1;
      pointer-events: visible;
    }
    .cart-content:hover{
      top : 38px;
      opacity : 1;
      pointer-events: visible;
    }

  }
  .contact-wrapper{
    display: none;
    float : right;
    padding : 20px 10px 10px;

    .contact-phone{
      background-color: $grey2;
      padding : 7px 0px;
      em{
        padding : 7px 10px;
        background-color: $grey1;
      }
      @extend .fa;
      &::before {
        content: "\f095";
        color : $white;
        background-color: $blue;
        padding: 7px;
        margin-right : 7px;
        vertical-align: middle;
      }
    }
  }
  .loggedin-icons{
    float : right;
    display: none;
    @include at-breakpoint($xmedium){
     display : inline-block;
    }
    ul.loggedin-icons-list{
      padding : 0px;
      margin : 23px 10px 0px;
      li{
        display : inline-block;
        position: relative;
        cursor: pointer;
        a{
          display : inline-block;
          opacity: 0.9;
          &:hover{
            opacity: 1;
          }
        }
        i {
          &:before {
            @extend .def-transition;
            font-size: 150%;
            color : $blue;
            padding: 5px;
            vertical-align: middle;
          }
        }
        ul.dropdown-menu{
          @extend .def-box-shadow;
          //@extend .def-transition;
          position: absolute;
          top : 140%;
          right : -20px;
          background-color: $white;
          //opacity: 0;
          //pointer-events: none;
          z-index:99999;
          width : 200px;
          border : 4px solid $grey1;
          display: none;
          margin : 0px;
          padding : 10px;
          &::before, &::after {
            content: '';
            position: absolute;
            top: -15px;
            right: 12%;
            margin-left: -9px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgba(0, 0, 0, 0.1);
          }
          &::after {
            top: -14px;
            margin-left: -10px;
            border-bottom: 10px solid $grey1;
          }
          li{
            border-bottom : 1px dashed $grey2;
            width:100%;
          }

        }

        span.icon-qty{
          position: absolute;
          top : -3px;
          right : -3px;
          font-size: 80%;
          display : inline-block;
          background-color: $gol;
          color: $white;
          padding : 4px 6px;
          height : 20px;
          line-height: 1;
          @include border-radius(10px);
        }
      }
    }
  }


}

nav.mobile-nav {
  //position : absolute;
  //top : 0px;
  //right : 0px;
  height: 100%;
  background-color: $grey3;
  color : $white2;
  display: none;
  @include at-breakpoint($medium) {
    display: none;
    height : 0px;
  }
  ul.mobile-menu {
    margin: 0px;
    padding: 0px;
    li{
      width : 100%;
      display:block;
      border-bottom : 1px dashed darken($grey2,20%);
      &:last-child{
        border-bottom: 0px;
      }
      a{
        @extend .def-transition;
        display: block;
        width : 100%;
        padding : 10px;
        color : $grey2;

        span.menu-content{
          padding-right : 8px;
        }
        i:before{
          font-size: 130%;
          vertical-align: middle;
        }
        &:hover,
        &:focus{
          color : $gol;
          background-color: lighten($grey3,10%);
        }
      }
    }
  }
 }

.menu-bar{
  @include box-shadow(0px 0px 5px 0px $grey3);
  background-color: $gol;
  .category-icons{
    float : left;
    direction: ltr;
    ul.icons-list{
      &.owl-carousel .owl-stage-outer {
        overflow: visible;
      }
      margin : 0px ;
      padding : 10px 20px 0px;
      li.cat-icon {
          display : inline-block;
        a {
          @extend .def-transition;
          display: block;
          width: 40px;
          height: 40px;
          @include border-radius(50%);
          margin: 0 2px;
          outline: none;
          position: relative;
          border: 1px solid $grey2;
          padding: 5px;
          background: image-url("icons/icons.png");
          cursor: pointer;
          &:hover {
            background-color: $white;
          }
          &:hover > span.icon-title {
            opacity: 0.9;
            top: 50px;
          }



          &.allofftiks {
            background-position: 40px 81px;
            &:hover {
              background-position: 40px 41px;
            }
          }
          &.feature {
            background-position: 139px 80px;
            &:hover {
              background-position: 139px 40px;
            }
          }
          &.building {
            background-position: 88px 80px;
            &:hover {
              background-position: 88px 40px;
            }
          }
          &.car {
            background-position: 189px 80px;
            &:hover {
              background-position: 189px 40px;
            }
          }

          &.resturant {
            background-position: 337px 81px;
            &:hover {
              background-position: 337px 41px;
            }
          }

          &.travel {
            background-position: 238px 81px;
            &:hover {
              background-position: 238px 41px;
            }
          }

          &.theater {
            background-position: 1029px 80px;
            &:hover {
              background-position: 1029px 40px;
            }
          }

          &.sport {
            background-position: 1176px 80px;
            &:hover {
              background-position: 1176px 40px;
            }
          }

          &.health {
            background-position: 537px 81px;
            &:hover {
              background-position: 537px 41px;
            }
          }

          &.sale {
            background-position: 288px 81px;
            &:hover {
              background-position: 288px 41px;
            }
          }

          &.education {
            background-position: 1077px 80px;
            &:hover {
              background-position: 1077px 40px;
            }
          }

          &.beauty {
            background-position: 976px 80px;
            &:hover {
              background-position: 976px 40px;
            }
          }
          span.icon-title {
           @extend .bottom-tooltip;

          }

        }
      }
    }
  }


}

