.site-header{
  padding : 0px;
  margin : 0px;
}
.top-bar{
  width : 100%;
  padding : 0px;
  margin : 0px;
  background-color: $white;
  .site-logo-link{
    display : inline-block;
    float : left ;
  }
  .search-container{
    float : left;
  }
  .plus-icon-wrapper{
    
  }
  .menu-toggler{
    float : right;
  }
  .panel-links{
    float : right;
  }
  .cart-wrapper{
    float : right;
  }
  .contact-wrapper{
    float : right;
  }


}
nav.mobile-nav{
  position : absolute;
  top : 0px;
  right : 0px;
  height : 100%;

  @include at-breakpoint($medium){
    display : none;
  }
}

.menu-bar{
  background-color: $gol;
  .category-icons{
    float : left;
    ul.icons-list{
      li.cat-icon{
        display : inline-block;
      }
    }
  }


}

